.btnContainer {
   color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    font-size: 24px;

    @media (max-width: 400px) {
        font-size: 14px;
    }
}

.btnContainer button {
    background-color: #111827;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}